/* input {
            margin-left: 730px;
            margin-top: 10px;
        } */

body {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

form {
    margin-left: 1400px;
}

table {
    /* margin-top: 40px;*/
    width: 100%;
    margin-left: 120px;
}